# Build output
bin/
obj/

# offline outputs
castbar/

# IDE metadata
.vs/
.idea/
*.suo
*.user
*.userprefs
*.sln.docstates

# NuGet / packages
*.nupkg
*.snupkg

# Diagnostics / traces
*.log
*.tmp
*.dmp
*.psess
*.vsp
*.vspx
TestResult*/

# Misc
*.DS_Store
*.Thumbs.db
